.scroll-float {
  overflow: hidden;
  display: block;
}

.scroll-float-text {
  display: block;
  line-height: 1;
}

.scroll-float .char {
  display: inline-block;
  transform-origin: center bottom;
}
